body {
    background-color: #f2f2f2;
}

#parc {
    width: 100%;
    min-height: 50vh; 
}

#detail_site {
    display:flex;
    flex-wrap: 'wrap';
    max-height: '50vh';
}

#site_unique {
    max-width: 60%; 
    min-height: 50vh;
}

#siteTable {
    min-width: 50vh;
}

/* #siteTable, #zhTable, #zhLayer, #parc, #pie-chart {
    box-shadow: 3px 3px 3px lightgrey;
} */

#dropdownDiv {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

#valleeDropdown, #siteDropdown {
    min-width: 40vh;
}