body {
    background-color: #f2f2f2;
}
#detailSiteAnalyseFeatures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dropdownDiv {
    padding-bottom: 2vh;
}

#parc {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 100%;
    min-height: 50vh; 
}

#partieBasse {
    padding-top: 5vh;
}

#detailSite, #detailParc, #detailVallee {
    padding-left: 5vh;
    padding-right: 5vh;
}

#site_unique {
    max-width: 50vh;
    min-height: 50vh;
}

#zhTable {
    min-width: 20vh;
}

#pie-chart {
    max-width: 30%; 
}

/* #siteTable, #zhTable, #zhLayer, #parc, #pie-chart {
    box-shadow: 3px 3px 3px lightgrey;
} */

#dropdownDiv {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

#valleeDropdown, #siteDropdown {
    min-width: 40vh;
}